.main-body {
	margin-top: 65px; 
}

.login-form { width: 30%;
	margin-left: auto;
	margin-right: auto;

 }
 .container-fluid > .content {
 	margin:0;
 }
 
 .repo_list li {
 	border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-style: none none solid;
    border-width: medium medium 1px;
 }