{% block repo_tabs %}
{% set active = active is defined ? active : "code" %}
<div class="content span24">
	<ul class="tabs">
		<li {% if active == "code" %}class="active"{% endif %}><a href="#">Code</a></li>
		<li {% if active == "pr" %}class="active"{% endif %} ><a href="{{ path("list_pull_requests", { "username": repository.user.username, "repository_name": repository.name }) }}">Pull Requests [{{ repository.countPullRequestsRelatedByRepositoryTargetId }}]</a></li>
	</ul>
</div>
{% endblock %}