{% block repo_tabs %}
<div class="content span24">
	<ul class="tabs">
		<li class="active"><a href="#">Code</a></li>
		<li><a href="#">Pull Requests [{{ repository.countPullRequestsRelatedByRepositoryTargetId }}]</a></li>
	</ul>
</div>
{% endblock %}