{% block repo_tabs_code %}
<div class="content span24">
	<ul class="tabs">
		<li class="active"><a href="#">Files</a></li>
		<li><a href="#">Commits</a></li>
		<li><a href="#">Branches</a></li>
	</ul>
</div>
{% endblock %}